@import url("./reset.css");

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: #16181f;
  position: relative;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.defination {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.one {
  color: blue;
}

.two {
  color: greenyellow;
}

.three {
  color: red;
}

.four {
  color: purple;
}

.cookies {
  height: 260px;
  width: 280px;
  padding: 10px 10px;
  background-color: #fff;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cookies::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.consent {
  margin-top: 5px;
}

.btn {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  height: 35px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.accept {
  background-color: #2727ff;
  color: #fff;
}

.setting {
  background-color: transparent;
  color: #2727ff;
  border: 1px solid #2727ff;
}

.select-cookies {
  height: 260px;
  width: 280px;
  padding: 10px 10px;
  background-color: #fff;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8888;
}

.select-cookies::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.save {
  background-color: #2727ff;
  color: #fff;
  margin-top: 5px;
  width: 180px;
}

.select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px 5px;
  font-size: 17px;
}

.switch {
  position: relative;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #740dce;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
